<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>PvE Goons Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Last known location</ion-card-title>
        <ion-card-subtitle>{{ goonsLocation.time }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ goonsLocation.map }},
        {{ goonsLocation.lastSeen }}
        <ion-button expand="block" (click)="reload()">
          <ion-icon name="reload" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
